.DashboardCardContiner {
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    margin-inline: 15px;
    padding-inline: 15px;
    padding-block: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    color: #0070f3; 

}
.DashboardCardStarButton{
    border: 0;
    background-color: transparent;
    cursor: pointer;
}